.typefiltre {
  word-wrap: break-word;
}

#map {
  min-height: 1000px;
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#radiusslider .slider-handle  {
	background: #007bff;
}
#radiusslider .slider-selection {
  opacity: 0.4;
	background: #007bff;
}
#numberslider .slider-handle  {
	background: #d34836;
}
#numberslider .slider-selection {
  opacity: 0.4;
	background: #d34836;
}

#autocomplete {
  width: 250px;
}
#root {
  min-height: 1000px;
}

 .shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
.shadow:hover, .selectioncss {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
