html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
}

/* DEBUT- CSS pour la vignette et l'information du site internet  */
.position-div-loader {
  position: absolute;
  bottom: 10px;
  left: 110px;
}
.loader {
  margin: 0;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.SERVICES {
  border-top: 4px solid #000cff;
}
.COMMERCE {
  border-top: 4px solid #e801ff;
}
.BATIMENT-TRAVAUX-PUBLICS {
  border-top: 4px solid #ff7501;
}
.RESTAURATION {
  border-top: 4px solid #ff0101;
}
.INDUSTRIE{
  border-top: 4px solid #ebff01;
}
.PHARMACIE{
  border-top: 4px solid #06f200;
}
.NO-NAF{
  border-top: 4px solid #707270;
}
.website {
  position: absolute;
  bottom: 12px;
}
.spacervignette{
  height:28px;
  width:5px;
/*  background-color: black; */
  float:left;
  display:inline-block;
}
/* FIN- CSS pour la vignette et l'information du site internet  */





/*  sliders START */
#radiusslider .slider-handle  {
	background: #007bff;
}
#radiusslider .slider-selection {
  opacity: 0.4;
	background: #007bff;
}
#numberslider .slider-handle  {
	background: #d34836;
}
#numberslider .slider-selection {
  opacity: 0.4;
	background: #d34836;
}

/*  sliders END */
/* googlemap START */
.search-bar-main {
  height: 60px;
  font-size: 1.2em;
}
.search-bar-little {
  height: 38px;
  font-size: 1em;
}

#map {
  min-height: 500px;
  height: 100%;
}
#mapaddress, .jumbotron {
  z-index: 9;
}

#mapaddress {
  height: 55px;
}

/* googlemap END */

/*React START */
#root {
  min-height: 1000px;
}

.PaginateNav{
  opacity:0.5;
  width:100%;
  position:fixed;
  z-index:1000;
  bottom:0px;
  text-align: center
}

.PaginateNav:hover{
  opacity:1 !important;
}

.toHide {
  opacity:0;
  z-index:-1;
}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.typefiltre {
  word-wrap: break-word;
}

.custom-control-input:disabled~.custom-control-label{
    color: #dee2e6;
}
/* React END */

/* megaban START */
header {
  padding-bottom: 50px;
}
 .shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
.shadow:hover, .selectioncss {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.jumbotron {
  position: absolute;
  top: 13%;
  left: 7%;
  width: 87%;
  padding-top: 180px;
  padding-bottom: 120px;
  background: rgba(0, 0, 0, 0);
}


.carousel-item {
  height: 100vh;
  max-height: 550px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide{
  min-height: 500px;
}
.ombres {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clouds{
  position: absolute;
  top: 0;
  left: 35%;
  min-width: 50%;
  height: auto;
  width: 50%;
  opacity: 0.8;
}

/* megaban END */

/* actions icons START */
.action-icons:hover {
  color: #007bff;
}

.action-icons {
  color: grey;
  padding-left: 10px;
  padding-right: 0px;
}

.fa-beat {
  -webkit-animation: fa-beat 0.9s infinite linear;
  animation: fa-beat 0.9s infinite linear;
}

@-webkit-keyframes fa-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fa-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.fa-beat:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
/* actions icons END */

/* footer social icons START */
footer {
  padding: 0 0 3.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
footer p {
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

ul a {
 background-color: #D3D3D3;
}
/* footer social icons END */

/* 3 STEPS explanation START */
.step-icons {
  position: absolute;
  top:50px;
  left:0;
  width: 100%;
  margin: 0 auto;
}
/* 3 STEPS explanation END */

/* barre de progression START */
.card-footer {
  position: relative;

}
.progress {
  position: absolute;
  top:100%;
  left: -1px;
  width: 101%;
  height: 3px;
  float:left;
}

/* barre de progression END */

@media screen and (min-width: 200px) and (max-width: 640px) {
  .carousel-item {
  max-height: 650px;
  }
  .jumbotron{
  top: 5%;
  }
}

